.css-6kt3cr-MuiPaper-root-MuiCard-root {
  min-height: calc(100vh - 130px) !important;
}
.css-172osot {
  background-color: transparent!important;
  /* padding: 0 24px; */
  border-radius: 8px;
}
.css-zw9y3a-MuiFormControl-root-MuiTextField-root .MuiInputBase-root {
  font-size: 14px;
  border-radius: 10px;
  width: 100%;
  height: 42px;
  border: 1px solid #f44336;
}
.word-wrap-cell {
  white-space: normal !important; /* Allows text to wrap */
  word-break: break-word; /* Breaks long words */
  overflow-wrap: break-word; /* Ensures text doesn't overflow */
  max-width: 100%; /* Ensures it stays within column width */
  line-height: 1.4; /* Improves readability */
}
.MuiInputLabel-root {
  background: white;
  padding-right: 5px!important;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: start;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }
}
.column_txt{
  text-align: left !important;
}